<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{hole.title}}</title>
    {{> meta}}
    <meta name="title" content="{{hole.title}} | Runtime Golf">
    <meta name="description"
        content="{{hole.description}}">
    <link rel="stylesheet" href="/css/editor.css">
    <script type="module" src="/js/hole.js" defer></script>
</head>

<body>
    <header class="header">
        {{> navbar}}
    </header>
    <main>
        <div class="container">
            <div class="hole-info">
                <h1>{{hole.title}}</h1>
                <p>{{hole.description}}</p>
            </div>
            <div class="language-controls">
                <div class="select">
                    <select id="selector"></select>
                </div>
                <button class="btn">Run Code</button>
            </div>
            <div id="editor"></div>

        </div>
    </main>
    <footer>

    </footer>
</body>

</html>