<dialog id="nav-dialog">
    <div>
        <a href="/" class="btn">
            <svg alt="Holes" class="icon" viewBox="0 0 24 24" fill="currentColor">
                <use href="/assets/icons/flag.svg#1"></use>
            </svg>
        </a>
        <a href="/leaderboards" class="btn">
            <svg alt="Leaderboards" class="icon" viewBox="0 0 24 24" fill="currentColor">
                <use href="/assets/icons/users.svg#1"></use>
            </svg>
        </a>
        <a href="/about" class="btn">
            <svg alt="About" class="icon" viewBox="0 0 24 24" fill="currentColor">
                <use href="/assets/icons/book.svg#1"></use>
            </svg>
        </a>
        {{#if user}}
        <a href="/users/{{user.username}}" class="btn">
            <img src="https://avatars.githubusercontent.com/u/{{user.github_id}}" alt="Profile Picture" class="pfp" />
        </a>
        {{else}}
        <a href="/api/github" class="btn btn-github">
            <svg alt="Github Login" class="icon icon-github" viewBox="0 0 24 24" fill="currentColor">
                <use href="/assets/icons/github.svg#1"></use>
            </svg>
        </a>
        {{/if}}
        <a href="#" class="btn" id="nav-dialog-close">
            x
        </a>
    </div>
</dialog>

<nav class="navbar">
    <a href="/" class="navbar-brand">
        <span>runtime.golf</span>
    </a>

    <div class="navbar-divider"></div>

    <div class="navbar-menu">
        <div class="navbar-nav">
            <a href="/" class="btn">
                <svg alt="Holes" class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <use href="/assets/icons/flag.svg#1"></use>
                </svg>
                <span>Holes</span>
            </a>
            <a href="/leaderboards" class="btn">
                <svg alt="Leaderboards" class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <use href="/assets/icons/users.svg#1"></use>
                </svg>
                <span>Leaderboards</span>
            </a>
            <a href="/about" class="btn">
                <svg alt="About" class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <use href="/assets/icons/book.svg#1"></use>
                </svg>
                <span>About</span>
            </a>
        </div>
    </div>
    {{#if user}}
    <div class="navbar-actions">
        <a href="/users/{{user.username}}" class="btn">
            <img src="https://avatars.githubusercontent.com/u/{{user.github_id}}" alt="Profile Picture" class="pfp" />
            <span>{{user.username}}</span>
        </a>
    </div>
    {{else}}
    <div class="navbar-actions">
        <a href="/api/github" class="btn btn-github">
            <svg alt="Github Login" class="icon icon-github" viewBox="0 0 24 24" fill="currentColor">
                <use href="/assets/icons/github.svg#1"></use>
            </svg>
            <span>Login with Github</span>
        </a>
    </div>
    {{/if}}
    <div class="navbar-toggle">
        <a href="#" class="btn" id="nav-dialog-open">
            +
        </a>
    </div>
</nav>
<script src="/js/navbar.js" defer></script>